%h1 Listing books
%table
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
    %th Isbn
    %th Genre
    %th Year
    %th Keyword
    %th Added by
    %th
    %th
    %th
  - @sbooks.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= price book.price
      %td= book.isbn
      %td= book.genre
      %td= book.year
      %td= book.keyword
      %td= book.owner_login
      %td= link_to 'Show detail information', book
      %td= book.authors.collect(&:author).join(", ")
      
%br/
  
= link_to 'New Book', new_book_path

%table
  %tr
    %th Genres
- @books.each do |book|
  %p.list
    %a{:href => "http://localhost:3000/genres/#{book.id}"}
      \ #{book.genre} 