!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to BookStore
    %p
       Hello #{@book_owner}!!! User with email #{@us_email} added comment: #{@content} at #{@time_comment} to your book(author #{@book_author})
      %br/
    %p
      You can see changes by following this url: #{@url}.
    %p Thanks for joining and have a great day!