%h2 Search books
= form_tag('/search_books', method: 'get') do
  = label_tag(:search_title, 'Enter a title of book')
  = text_field_tag(:search_title)
  = submit_tag('Search')

= link_to 'Listing books', books_path, :class => "btn"

