%h1
  Books #{params[:author]}
%table
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= book.price