%div
  = @user.email
  %div/
  - if @user.photo.nil?
    %div
      You don't have any photo
      %div/
      = link_to "Add photo", controller: "users", action: "new_photo"
  - else
    %div
      = image_tag @user.photo.image_path, :class => "image_book"

      %div/


- unless @user.books.empty?


  %ul.nav.nav-list
    %li
      %a{:href => "/books"}
        %i.icon-book
        Show books
    %li
      %a{:href => "/users/new_photo"}
        %i.icon-camera
        Change photo
        %li
      %a{:href => edit_user_registration_path(@user)}
        %i.icon-wrench
        Change password
        %li
      %a{:href => "#"}
        %i.icon-shopping-cart
        My cart

  %table.table.table-hover
    %tr
      %th Author
      %th Title
      %th Description
      %th Price
      %th
      %th
    - @user.books.each do |book|
      %tr
        %td= book.author
        %td= book.title
        %td= book.description
        %td= book.price
        %td
          %ul
            %li
              = link_to '', edit_book_path(book), :class => "icon-edit edit"
              = link_to '', book, :class => "icon-eye-open"

        %td
          %ul
            %li.icon-remove= link_to ' ', book, method: :delete, data: { confirm: 'Are you sure?' }
- else
  %div
    You don't have any books yet
    %br
      = link_to "Add your first book", controller: "books", action: "new"
