%div
  = @user.email
  %div/
  - if @user.photo.nil?
    %div
      = image_tag('/assets/default/default-user.png')
      %div/
      = link_to "Add photo", controller: "photos", action: "new"
  - else
    %div
      = image_tag(@user.photo.image_path)
      %div/
      = link_to "Change photo", controller: "photos", action: "new"

- unless @user.books.empty?
  %table
    %tr
      %th Author
      %th Title
      %th Description
      %th Price
      %th
      %th
      %th
    - @user.books.each do |book|
      %tr
        %td= book.author
        %td= book.title
        %td= book.description
        %td= book.price
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
- else
  %div
    You don't have any books yet
    %br
      = link_to "Add your first book", controller: "books", action: "new"
