.content-main
  - if @user && @user.books

    - @books.each do |book|
      .article
        - if book.photo
          = image_tag(book.photo.image_path, size: '100x100')
          %br
        = link_to(book.title, "/books/#{book.id}")
        %br
        = book.author
        %br
        = book.description
        %br
        = book.price
        %br
  - else
    %div
      You don't have any books yet

  = link_to "Add new book", controller: "books", action: "new"
