.mini-profile.dashboard-module
  = link_to @user.email, "users/#{current_user.id}"

  - if @user.photo.nil?
    %div
      You don't have any photo
      %br
      = link_to 'Edit profile', "/users/edit"
  - else
    %div
      = image_tag(@user.photo.image_path, size: '100x100')
      %br
      = link_to 'Edit profile', "/users/edit"
      %br
      Hello! Nice to meet you!
