%tr
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %th
  %tr
    %td= book.author
    %td= book.title
    %td= book.description
    %td= price book.price
    %td= book.isbn
    %td= book.genre
    %td= book.year
    %td= book.keyword
    %td= book.owner_login
    %td= link_to 'Show detail information', book
    %td= book.authors.collect(&:author).join(", ")
    

//      %td= link_to 'Edit', edit_book_path(book)
//      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
