- if @books && !@books.empty?
  %ul
    - @books.each do |book|
      %li
        .article-wrap
          .article
            - if book.photo
              .image_book 
                = image_tag book.photo.image_path, size: '200x200'
                %br
                %br
            - else
              %div
                = image_tag '/assets/default/default-book.png', size: '200x200'
              %br

            = link_to book.title, book_path(book)
            %br
            = book.author
            %br
            = book.description
            %br
            = book.price
            %br
- else
  %div
    No books!
