- if @books && !@books.empty?
  %ul
    - @books.each do |book|
      %li
        .article-wrap
          .article
            - if book.photo 
              = image_tag book.photo.image_path, :class => 'image_book'
              %br
                
            - else
              = image_tag '/assets/default/default-book.png', :class => 'image_book'
              %br

            = link_to book.title, book_path(book)
            %br
            = book.author
            %br
            = book.description
            %br
            = book.price
            %br
- else
  %div
    No books!
