%h1 Listing books
%table
  %tr
    %th Author
    %th Description
    %th Price
    %th Title
    %th Isbn
    %th Year
    %th Genre
    %th
    %th
    %th
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.description
      %td= book.price
      %td= book.title
      %td= book.isbn
      %td= book.year
      %td= book.genre
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= form_tag("/books/", :method => "get") do
  = label_tag(:search, "Search by ISBN:")
  = text_field_tag(:search)
  = submit_tag("Search")
= link_to 'New Book', new_book_path