=javascript_include_tag "prototype"
=javascript_include_tag "endless_page"
%h2 Listing books

%table.table.table-striped
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
    %th Isbn
    %th Genre
    %th Year
    %th Keywords
    %th Added by
    %th
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= price book.price
      %td= book.isbn
      %td= book.genre
      %td= book.year
      %td= book.keyword
      %td= book.owner_login
      %td= link_to '', book, :class => "icon-eye-open"

= link_to 'Search book', search_path, :class => "btn"
