%h1 Listing books
%table.table.table-hover
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
    %th Added by
    %th
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= price book.price
      %td= book.owner_login
      %td= link_to '', book, :class =>" icon-eye-open"

//      %td= link_to 'Edit', edit_book_path(book)
//      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Book', new_book_path
