%p#notice= notice
=image_tag @book.photo.image_path
%p
  %b Author:
  = @book.author
%p
  %b Title:
  = @book.title
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = @book.price
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Add photo', controller: "books", action: "new_photo"
|
\#{link_to 'Back', books_path}
