%p#notice= notice
- if @book.photo.nil?
  %div
    = image_tag('/assets/default/default-book.png')
    %div/
- else
  %div
    = image_tag(@book.photo.image_path)
    %div/
%p
  %b Author:
  = @book.author
%p
  %b All Author:
  = @book.authors.collect(&:author).join(", ")
%p
  %b Title:
  = @book.title
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = price @book.price
%p
  %b Isbn:
  = @book.isbn
%p
  %b Genre:
  = @book.genre
%p
  %b Year:
  = @book.year
%p
  %b Keyword:
  = @book.keyword
%p
  %b Added by:
  = @book.owner_login
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method

= link_to 'Edit', edit_book_path(@book)
|

\#{link_to 'Back', books_path}
%p
  %b All comments:
  %br
  - @book.comments.each do |comment|
    %table

    %tr
      %td=comment.user.email
    %tr

    %tr
      %td=comment.created_at

      %br

      %td=comment.content
      %br/
%p
  =form_tag :controller => "comments", :actions => "create" do
    =text_area_tag :content, "", :size=>'80x5'
    =text_field_tag :book_id, @book.id, :style => "display: none;"
    =submit_tag "Add Comment"

  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method
%h1 Similar books

%table
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
    %th Isbn
    %th Genre
    %th Year
    %th Keywords
    %th Added by
    %th
    %th
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= price book.price
      %td= book.isbn
      %td= book.genre
      %td= book.year
      %td= book.keyword
      %td= book.owner_login
      %td= link_to 'Show detail information', book
