%p#notice= notice
- if @book.photo
  %div
    = image_tag @book.photo.image_path, :class => "image_book"
- else
  %div
    = image_tag '/assets/default/default-book.png'
%p


  %p.text3
    %b.book_info
    = @book.title

  %p.text1
    %b.text5 Author:
    = @book.author
  %p.text1
    %b.text5 Price:
    = price @book.price
  %p.text1
    %b.text5 Isbn:
    = @book.isbn
  %p.text1
    %b.text5 Genre:
    = @book.genre
  %p.text1
    %b.text5 Year:
    = @book.year
  %p.text1
    %b.text5 Keyword:
    = @book.keyword
  %p.text1
    %b.text5 Added by:
    = @book.owner_login
  %HR
  %p.text6
    %b
    = @book.description
    //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method
    %br

  %HR

    - if @rate
      %span.badge.badge-success
        Rating:
        =@book.middle_rate
      %br
    - else
      .btn-toolbar#button_rate
        .btn-group
          .btn#1 1
          .btn#2 2
          .btn#3 3
          .btn#4 4
          .btn#5 5

    %span.badge.badge-success#visible_rate

.fb-like{"data-send"       => "false",
         "data-width"      => "450",
         "data-show-faces" => "true",
         "data-action"     => "recommend"}
%br
  %P
  %a.twitter-share-button{:href => "https://twitter.com/share"} Tweet
  :javascript
       !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
%br
%p
  %b All comments:
  %br
  - @book.comments.each do |comment|
    %table

    %tr
      %td= comment.user.email
    %tr

    %tr
      %td= comment.created_at
      %br

      %td= comment.content
      %br
%p

%br
  = form_tag controller: "comments", actions: "create" do
    = text_area_tag :content, "", size: '80x5'
    = text_field_tag :book_id, @book.id, style: "display: none;"
    = submit_tag "Add Comment", :class => "btn"
    = link_to 'Edit books', edit_book_path(@book), :class => "btn"
    = link_to'Back',books_path, :class => "btn"
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method


%h2 Similar books

%table.table.table-striped
  %tr
    %th Author
    %th Title
    %th Description
    %th Price
    %th Isbn
    %th Genre
    %th Year
    %th Keywords
    %th Added by
    %th
    %th
  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= book.description
      %td= price book.price
      %td= book.isbn
      %td= book.genre
      %td= book.year
      %td= book.keyword
      %td= book.owner_login
      %td= link_to '', book, :class => "icon-eye-open"

=javascript_include_tag "rate_request"
