%p#notice= notice
- unless  @book.photo.nil?
  =image_tag @book.photo.image_path
%p
  %b Author:
  = @book.author
%p
  %b Title:
  = @book.title
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = price @book.price
%p
  %b Added by:
  = @book.owner_login
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method

= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Add photo', controller: "photos", action: "new"
|
\#{link_to 'Back', books_path}
