%p#notice= notice
- unless  @book.photo.nil?
  =image_tag @book.photo.image_path
%p
  %b Author:
  = @book.author
%p
  %b Title:
  = @book.title
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = price @book.price
%p
  %b Added by:
  = @book.owner_login
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method


- if @rate
  %span.badge.badge-success 
    Rating: 
    =@rate
  %br
  %br
- else  
  .btn-toolbar#button_rate
    .btn-group
      .btn#1 1
      .btn#2 2
      .btn#3 3
      .btn#4 4
      .btn#5 5

%span.badge.badge-success#visible_rate  
%br

= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Add photo', controller: "books", action: "new_photo"
|
\#{link_to 'Back', books_path}

=javascript_include_tag "rate_request"