%p#notice= notice
%h1
  = @book.title
- if @book.photo
  #image-book-show
    = image_tag @book.photo.image_path
- else
  #image-book-show
    = image_tag '/assets/default/default-book.png'
%h3    
  = @book.author
%br
%p
  %b All Author:
  = @book.authors.collect(&:author).join(", ")
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = price @book.price
%p
  %b ISBN:
  = @book.isbn
%p
  %b Genre:
  = @book.genre
%p
  %b Year:
  = @book.year
%p
  %b Keyword:
  = @book.keyword
%p
  %b Added by:
  = @book.owner_login
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method

%br
.fb-like{"data-send"       => "false",
         "data-width"      => "450",
         "data-show-faces" => "true",
         "data-action"     => "recommend"}
%br
%br
- if @rate
  %span.badge.badge-success
    Rating:
    =@book.middle_rate ? @book.middle_rate : 'no estimate' 
  %br
- else
  .btn-toolbar#button_rate
    .btn-group
      .btn#1 1
      .btn#2 2
      .btn#3 3
      .btn#4 4
      .btn#5 5

%span.badge.badge-success#visible_rate
%br

= link_to 'Edit', edit_book_path(@book)
|
\#{link_to 'Back', books_path}
%br

%p
  %b All comments:
  %br
  - @book.comments.each do |comment|
    %table

    %tr
      %td= comment.user.email
    %tr

    %tr
      %td= comment.created_at
      %br

      %td= comment.content
      %br
- if @current_user
  %p
    = form_tag controller: "comments", actions: "create" do
      = text_area_tag :content, "", size: '80x5'
      = text_field_tag :book_id, @book.id, style: "display: none;"
      = submit_tag "Add Comment"
-else
  %p To leave a comment, please #{link_to 'sign in', new_user_session_path}
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method
%h2 Similar books
- if @books.size != 0
  - @books.each do |book|
    %p= link_to book.title + " " + book.title, book
- else
  %p No books   
=javascript_include_tag "rate_request"
