
%p#notice= notice
-unless  @book.photo.nil?
  =image_tag @book.photo.image_path, :class => "image_book"
 
%HR/

%p.text1
  %b.text Author:
  = @book.author
%p.text1
  %b.text Title:
  = @book.title
%p.text1
  %b.text Description:
  = @book.description
%p.text1
  %b.text Price:
  = price @book.price
%p.text1
  %b.text Added by:
  = @book.owner_login


  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method
  %HR/

= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Add photo', controller: "books", action: "new_photo"
|
\#{link_to 'Back', books_path}
