%p#notice= notice
- if @book.photo.nil?

- else

  %div
    = image_tag @book.photo.image_path, :class => "image_book"
    %div/
  %HR
%p.text3
  %b.book_info
  = @book.title
%HR
%p.text1
  %b.text5 Author:
  = @book.author
%p.text1
  %b.text5 Price:
  = price @book.price
%p.text1
  %b.text5 Isbn:
  = @book.isbn
%p.text1
  %b.text5 Genre:
  = @book.genre
%p.text1
  %b.text5 Year:
  = @book.year
%p.text1
  %b.text5 Keyword:
  = @book.keyword
%p.text1
  %b.text5 Added by:
  = @book.owner_login
%HR
%p.text6
  %b
  = @book.description
  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method
%HR

- if @rate 
  %span.badge.badge-success 
    Rating: 
    =@book.middle_rate
  %br
- else 
  .btn-toolbar#button_rate
    .btn-group
      .btn#1 1
      .btn#2 2
      .btn#3 3
      .btn#4 4
      .btn#5 5

%span.badge.badge-success#visible_rate  
%br

= link_to 'Edit', edit_book_path(@book)
|
%a.btn{:href => "/books"} Back

=form_tag ({:controller => "comments", :actions => "create"}, :remote => true) do
  =text_area_tag :content, "", :size=>'80x5'
  =text_field_tag :book_id, @book.id, :style => "display: none;"
  =submit_tag "Add Comment"
%p
  %b All comments:
  %br
  %table.comments
    - @book.comments.desc.each do |comment|
      %tr
        %td=comment.user.email
        %td=comment.created_at
        %td=comment.content
        %td=button_to "X", comment_path(comment), :method => :delete
%p



  //= link_to @book.owner_login, {:controller => :users, :action => :show, :id => @book.user_id } #no method

