<%= form_tag({}, :name => "upload" , :method => "POST" , :multipart => true) do %>
   <%= file_field_tag 'photo' %>
   <% if params.has_key?("id")%>
   <%= hidden_field_tag(:book_id, "#{@book.id}") %>
   <% end %>
 </br>
   <%= submit_tag 'upload' %>
<% end %>


 <div class="container">
    <div class="progress progress-striped active">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>


<div id="log">Progress status</div>
<%= javascript_include_tag "upload" %>