%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'BookStore', '#', id: 'logo'
      %nav
        %ul.nav.pull-right
          %li= link_to 'Home',    '/users/user_page'
          %li= link_to 'Help',    '/pages/help'
          -if current_user
          %li= button_to 'Sign out', destroy_user_session_path, :method => :delete
          -else
            %li= link_to 'Sign in',new_user_session_path
