!!!
%html
  %head
    %title= full_title(yield(:title))

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    = render 'layouts/shim'
    = render 'layouts/tags'
  %body
    = render 'layouts/facebook'
    = render 'layouts/header'
    #content-wrap.container
      #dashboard
        = render 'layouts/error_messages'

        - if user_signed_in?
          - @user = current_user
          = render 'layouts/mini_profile'
          /= render 'layouts/wtf_module'
          /= render 'layouts/trends'
        - else
          = render 'layouts/sign_in'
          / #btn-sign-up
          /   = link_to 'Sign up', '/users/sign_up', :class => "btn"
      #content-main
        = yield
      = render 'layouts/footer'
